<!DOCTYPE html>
<html lang="en">
<head>

      
        <div class="container">
          <label for="uname"><b>Username:</b></label><br>
          <input type="text" placeholder="Enter Username" name="uname" required>
            <br>
          <label for="psw"><b>Password:</b></label><br>
          <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="newusr">
            <br>
            <a href="newuser.html">Create new user</a>
        </div>
      
      </form>
</head>
</body>
</html>